* {
    background-color: black;
    font-family: Verdana;
    color: white;
    text-align: center;
}

.header h1 {
    font-weight: normal;
    font-size: 50px;
}

.header a {
    color: aquamarine;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
}

.travel-guide p {
    font-weight: 300;
    font-size: 42px;
}

.travel-guide h4 {
    font-weight: normal;
    font-size: 21px;
    color: grey;
}
.phone img {
    margin-top: 20px;
}

.coming-soon p {
    font-weight: 300;
    font-size: 42px;
}

.footer a {
    color: aquamarine;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
}

.footer-1 p {
    text-align: right;
    color: grey;
    text-decoration: none;
    font-size: 21px;
}

